<html>
<head>
    <title>@ViewBag.Title - My ASP.NET Application</title>
    
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/mapfunctions.js"></script>
</head>
<body bgColor=#ffffff leftMargin=0 text=#000000 topMargin=0 marginheight="0" marginwidth="0">
    @RenderBody()
</body>
</html>
